token
.idea
*/.idea
*/*.xml
#html
github_rsa_keys
*.html
*/*.html
#*.log
*.log
*/*.log
*/*.kmz
*.kmz
.venv
assets
*/.venv
*/*.ipynb
*.ipynb
.ipynb_checkpoints
#pdf
*.pdf
*/*.pdf
#cache
cache
*/cache
*/*.db
*/*.db-shm
*/*.db-wal
#txt
*.txt
*/*.txt
# xlsx & csv files
*.csv
*/*.csv
*.xlsx
*/*.xlsx
# *.json, configs.json etc.:
*.json
*/*.json
README.md
# data:
data
input
# images:
*/*.jpeg
*/*.png
*/*.jpg
#bash:
run.sh
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

